*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho{
    background-color:#424E61;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.imagem-cabecalho {

width: 25% ;  
;

}
.cabecalho-list {

    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
  text-transform: color: red;;
   

}
.escola-imagem{
    width: 19%;

}
.escola{
    background-image: linear-gradient(#424E61,#4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
   align-items: center;
   padding: 25px 0;

 
}
.escola-div{
    width: 25%;
}
.escola-titular{
    padding: 24px 0;
}